<div class="ngdialog-message">
    <h3>Start auction</h3>

    <form name="startAuction">
        <div class="control-group">
            <div class="form-group row" ng-class="{ 'has-error': startAuction.quantity.$invalid }">
                <div class="col-md-4">
                    <label for="quantity" class="control-label">Quantity</label>
                </div>
                <div class="col-md-8">
                    <input name="quantity" id="quantity" type="number" min="1" max="30" ng-model="item.quantity" class="form-control" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Minimum bid</div>
                <div class="col-md-8"><input type="number" min="1" class="form-control" ng-model="item.bid" required /></div>
            </div>
        </div>
    </form>
</div>

<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="confirm('Save')" ng-disabled="startAuction.$invalid">Start auction</button>
</div>